---
import ListCategories from '@/components/ListCategories'
import ListPosts2 from '@/components/ListPosts2'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts2 } from '@/utils'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts2(MAX_POSTS)
---

<BaseLayout title='Home'>
	<TitlePage title='Blog Title' />
	<ListCategories />
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts2 FirstBig={true} posts={posts} />
	</div>
</BaseLayout>
